@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: oklch(0.97 0.02 160);
  --color-primary-100: oklch(0.94 0.05 160);
  --color-primary-200: oklch(0.88 0.10 160);
  --color-primary-300: oklch(0.80 0.15 160);
  --color-primary-400: oklch(0.71 0.18 163);
  --color-primary-500: oklch(0.63 0.18 163);
  --color-primary-600: oklch(0.53 0.15 163);
  --color-primary-700: oklch(0.44 0.13 163);
  --color-primary-800: oklch(0.37 0.10 163);
  --color-primary-900: oklch(0.31 0.08 163);
  --color-primary-950: oklch(0.19 0.05 163);
}
