@use '../../../app/styles/variables' as *;

.layout {
  min-height: 100vh;
}

.content {
  transition: margin-left $transition-base;
}

.contentExpanded {
  margin-left: $sidebar-width;
}

.contentCollapsed {
  margin-left: $sidebar-collapsed-width;
}

.main {
  padding: 24px;
  min-height: calc(100vh - $header-height);
}
